@import url("https://fonts.googleapis.com/css2?family=Lato:wght@normal&display=swap");

:root {
  --color-brown: rgb(26, 26, 28);
  --color-brown-2: rgb(34, 34, 34);
  --color-pink: #e84142;
  --color-white: white;
  --container-padding: 13rem;
  --font-default: "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
